<div class="feature group"> 
  <%= image_tag 'cc_radio_show.jpg', :alt => 'The Civic Commons Radio Show and Podcast', :class => 'float featured main-img', :height => 194, :width => 300 %>
  <p><strong>The Civic Commons podcast</strong> is a dynamic half-hour public affairs program
    airing Tuesday afternoons at 12:30 on <strong><a href="http://www.wjcu.org">88.7 FM, WJCU, University Heights</a></strong>,
    and Tuesday evenings at 7:30 on <strong><a href="http://wysu.org">88.5 FM, WYSU, Youngstown</a></strong>.
    We feature more citizen voices and less talking heads, more proactive conversation and less
    posturing and more reasons to get more involved in your region.  Hosted by Dan Moulthrop and
    Noelle Celeste, produced by Luke Frazier of NOW Productions with assistance from WJCU and edited
    by Daniel Steinberg of <strong><a href="http://dimsumthinking.com">Dim Sum Thinking</a></strong>
    and Erica Brenner of Brenner Productions. The podcast is part of The Civic Commons, a regional
    effort to bring more citizens into the conversations that matter.</p>
  <a href="http://itunes.apple.com/us/podcast/the-civic-commons-podcast/id436134274" class="button"><span class="itunes">iTunes</span></a> <a href="#" class="button"><span class="rss">RSS</span></a> <a href="http://stitcher.com" class="button"><span class="stitcher">Sticher</span></a>
</div>
